{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-center text-primary m-0 font-weight-bold">รายแจ้งซ่อมเครื่องคอมพิวเตอร์</p>
                        </div>
                        <div class="card-body">
                            {% comment %} <div class="row">
                <div class="col-md-12 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                        <form action="/admins/" method="POST">
                            {% csrf_token %}
                            <div class="row text-nowrap ">
                                <div style="margin: 0px 10px; display:flex">
                                    ห้องปฏิบัติการ&nbsp;&nbsp;&nbsp;{{form}}
                                </div>
                                <input type="submit" class="btn btn-secondary " style="margin-top:-5px;width: 60px;height:28px;padding:0px 0px;" value="เลือก">
                            </div>
                        </form>
                    </div>
                </div>
            </div> {% endcomment %}
                            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                aria-describedby="dataTable_info">
                                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            {% comment %} <th class="text-center">ลำดับที่</th> {% endcomment %}
                            <th class="text-center">เครื่องที่</th>
                            <th class="text-center">ห้อง</th>
                            <th class="text-center">อาการเครื่อง</th>
                            <th class="text-center">วันที่แจ้งซ่อม</th>
                            <th class="text-center">ผู้แจ้งซ่อม</th>
                            <th class="text-center">วันที่รับเรื่อง</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for items in pcs %}
                        <tr>
                            <td class="text-center">{{items.No_cmpt}}</td>
                            <td class="text-center">{{items.class_room}}</td>
                            <td class="text-center">{{items.detail_repair}}</td>
                            <td class="text-center">{{items.date_report}}</td>
                            <td class="text-center">{{items.user_report}}</td>
                            <td class="text-center">{{items.date_input}}</td>
                            <td style="width:180px">
                                <div style="width:180px">
                                {% if items.date_input == '' %}
                                    <a class="btn btn-success" href="{% url 'receive' items.id %}" style="padding:5px"><i
                                        class="far fa-arrow-alt-circle-down"></i>&nbsp; รับเรื่อง</a>
                                {% else %}
                                    <a class="btn btn-success disabled" href="{% url 'receive' items.id %}" style="padding:5px;"><i
                                        class="far fa-arrow-alt-circle-down"></i>&nbsp; รับเรื่อง</a>
                                {% endif %}
                                    <a class="btn btn-primary" href="{% url 'repair' items.id %}" style="padding:5px"><i
                                        class="far fa-arrow-alt-circle-up"></i>&nbsp; ส่งเครื่อง</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text-center">เครื่องที่</th>
                            <th class="text-center">ห้อง</th>
                            <th class="text-center">อาการเครื่อง</th>
                            <th class="text-center">วันที่แจ้งซ่อม</th>
                            <th class="text-center">ผู้แจ้งซ่อม</th>
                            <th class="text-center">วันที่รับเรื่อง</th>
                            <th></th>

                        </tr>
                    </tfoot>
                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                                        Showing 1 to 10 of 27</p>
                                </div>
                                <div class="col-md-6">
                                    <nav
                                        class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled"><a class="page-link" href="#"
                                                    aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span
                                                        aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- Start: WebArt - Modal Open -->
                            <div id="modal-open" style="width: 180px;">
                                <div class="modal fade" role="dialog" tabindex="-1" id="exampleModal"
                                    aria-labelledby="exampleModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title"><i class="fas fa-cogs"></i>&nbsp;
                                                    รับเรื่องซ่อมคอมพิวเตอร์</h4><button type="button" class="close"
                                                    data-dismiss="modal" aria-label="Close"><span
                                                        aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Start: Bootstrap 4's Custom Radios & Checkboxes -->
                                                <div>
                                                    <fieldset></fieldset>
                                                    <fieldset>
                                                        <legend style="margin-top: 0px;padding: 0px;">
                                                            ระบุสาเหตุเครื่องคอมพิวเตอร์</legend>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair1"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair1">Windows เสีย</label></div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair2"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair2">Ram เสีย</label></div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair3"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair3">Power เสีย<br></label></div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair4"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair4">Board เสีย</label></div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair5"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair5">Graphic Card เสีย</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair6"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair6">HDD เสีย</label></div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair7"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair7">สาย Sata เสีย</label></div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair8"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair8">SSD เสีย</label></div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair9"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair9">สาย Power เสีย</label></div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair10"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair10">License หมดอายุ</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair11"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair11">Adaptor เสีย<br></label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair12"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair12">สายจอเสีย</label></div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair13"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair13">Internet มีปัญหา</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <!-- End: Bootstrap 4's Custom Radios & Checkboxes -->
                                                <!-- Start: Bootstrap 4's Custom Radios & Checkboxes -->
                                                <div>
                                                    <fieldset></fieldset>
                                                    <fieldset>
                                                        <legend style="margin-top: 0px;padding: 0px;">
                                                            ระบุสาเหตุอุปกรณ์เครื่องคอมพิวเตอร์</legend>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair14"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair14">คีย์บอร์ดเสีย</label></div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair15"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair15">เมาส์เสีย</label></div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair16"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair16">เมาส์หาย</label></div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair17"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair17">คียบอร์ดหาย</label></div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair18"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair18">โปรเจคเตอร์เสีย</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="input_repair19"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="input_repair19">โปรเจคเตอร์ไม่ชัด</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <!-- End: Bootstrap 4's Custom Radios & Checkboxes -->
                                                <!-- Start: Bootstrap 4's Custom Radios & Checkboxes -->
                                                <div>
                                                    <fieldset></fieldset>
                                                    <fieldset>
                                                        <legend style="margin-top: 0px;padding: 0px;">ปัญหาอื่นๆ
                                                        </legend><input type="text" style="opacity: 0.28;width: 300px;"
                                                            placeholder="ระบุปัญหา">
                                                    </fieldset>
                                                </div>
                                                <!-- End: Bootstrap 4's Custom Radios & Checkboxes -->
                                            </div>
                                            <div class="modal-footer"><button class="btn btn-warning"
                                                    data-dismiss="modal" style="background-color: rgb(69,247,98);"
                                                    type="button">บันทึก</button><button class="btn btn-warning"
                                                    data-dismiss="modal" style="background-color: rgb(235,48,82);"
                                                    type="button">ยกเลิก</button></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" role="dialog" tabindex="-1" id="exampleModal-1"
                                    aria-labelledby="exampleModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title"><i class="fas fa-cogs"></i>&nbsp; ส่งเครื่อง
                                                </h4><button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Start: Bootstrap 4's Custom Radios & Checkboxes -->
                                                <div>
                                                    <fieldset></fieldset>
                                                    <fieldset>
                                                        <legend style="margin-top: 0px;padding: 0px;">
                                                            การแก้ไขเครื่องคอมพิวเตอร์เสีย</legend>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair1"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair1">ลง Windows
                                                                        ใหม่&nbsp;</label></div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair2"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair2">เปลี่ยน Ram ใหม่</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair3"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair3">เปลี่ยน PSUใหม่</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair4"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair4">เปลี่ยน Board ใหม่</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair5"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair5">เปลี่ยน Garphic Card
                                                                        ใหม่</label></div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair6"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair6">เปลี่ยน HDD ใหม่</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair7"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair7">เปลี่ยน SSD ใหม่</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair8"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair8">เปลี่ยนสาย Sata
                                                                        ใหม่</label></div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair9"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair9">เปลี่ยนสาย
                                                                        PSU&nbsp;ใหม่</label></div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair10"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair10">เปลี่ยน Adaptor
                                                                        ใหม่</label></div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair11"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair11">เปลี่ยนสายจอใหม่</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair12"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair12">ลง License ใหม่</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair13"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair13">ลง Program ใหม่</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair14"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair14">เข้าหัว Lan ใหม่</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <!-- End: Bootstrap 4's Custom Radios & Checkboxes -->
                                                <!-- Start: Bootstrap 4's Custom Radios & Checkboxes -->
                                                <div>
                                                    <fieldset></fieldset>
                                                    <fieldset>
                                                        <legend style="margin-top: 0px;padding: 0px;">
                                                            การแก้ไขอุปกรณ์เครื่องคอมพิวเตอร์</legend>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair15"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair15">คีย์บอร์ดเสีย</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair16"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair16">เมาส์เสีย</label></div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair17"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair17">เมาส์หาย</label></div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair18"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair18">คียบอร์ดหาย</label></div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair19"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair19">โปรเจคเตอร์เสีย</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div
                                                                    class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" id="output_repair20"
                                                                        class="custom-control-input"><label
                                                                        class="custom-control-label"
                                                                        for="output_repair20">โปรเจคเตอร์ไม่ชัด</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <!-- End: Bootstrap 4's Custom Radios & Checkboxes -->
                                                <!-- Start: Bootstrap 4's Custom Radios & Checkboxes -->
                                                <div>
                                                    <fieldset></fieldset>
                                                    <fieldset>
                                                        <legend style="margin-top: 0px;padding: 0px;">ปัญหาอื่นๆ
                                                        </legend><input type="text" style="opacity: 0.28;width: 300px;"
                                                            placeholder="ระบุปัญหา">
                                                    </fieldset>
                                                </div>
                                                <!-- End: Bootstrap 4's Custom Radios & Checkboxes -->
                                            </div>
                                            <div class="modal-footer"><button class="btn btn-warning"
                                                    data-dismiss="modal" style="background-color: rgb(69,247,98);"
                                                    type="button">บันทึก</button><button class="btn btn-warning"
                                                    data-dismiss="modal" style="background-color: rgb(235,48,82);"
                                                    type="button">ยกเลิก</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: WebArt - Modal Open -->
                        </div>
                    </div>
                </div>
{% endblock %}