{% extends 'layout.html' %} {% block content %}
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-center text-primary m-0 font-weight-bold">รายแจ้งซ่อมเครื่องคอมพิวเตอร์</p>
        </div>
        <div class="card-body">
            {% comment %}
            <div class="row">
                <div class="col-md-12 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                        <form action="/admins/" method="POST">
                            {% csrf_token %}
                            <div class="row text-nowrap ">
                                <div style="margin: 0px 10px; display:flex">
                                    ห้องปฏิบัติการ&nbsp;&nbsp;&nbsp;{{form}}
                                </div>
                                <input type="submit" class="btn btn-secondary " style="margin-top:-5px;width: 60px;height:28px;padding:0px 0px;" value="เลือก">
                            </div>
                        </form>
                    </div>
                </div>
            </div> {% endcomment %}
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="tabledata" name="tabledata">
                    <thead>
                        <tr>
                            {% comment %}
                            <th class="text-center">ลำดับที่</th> {% endcomment %}
                            <th class="text-center">เครื่องที่</th>
                            <th class="text-center">ห้อง</th>
                            <th class="text-center">อาการเครื่อง</th>
                            <th class="text-center">วันที่แจ้งซ่อม</th>
                            <th class="text-center">ผู้แจ้งซ่อม</th>
                            <th class="text-center">วันที่รับเรื่อง</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for items in pcs %}
                        <tr>
                            <td class="text-center">{{items.No_cmpt}}</td>
                            <td class="text-center">{{items.class_room}}</td>
                            <td class="text-center">{{items.detail_repair}}</td>
                            <td class="text-center">{{items.date_report}}</td>
                            <td class="text-center">{{items.user_report}}</td>
                            <td class="text-center">{{items.date_input}}</td>
                            <td style="width:180px">
                                <div style="width:180px">
                                    {% if items.date_input == '' %}
                                    <a class="btn btn-success" href="{% url 'receive' items.id %}" style="padding:5px"><i
                                        class="far fa-arrow-alt-circle-down"></i>&nbsp; รับเรื่อง</a> {% else %}
                                    <a class="btn btn-secondary disabled" href="{% url 'receive' items.id %}" style="padding:5px;"><i
                                        class="far fa-arrow-alt-circle-down"></i>&nbsp; รับเรื่อง</a> {% endif %} {% if items.date_input == ''%}
                                    <a class="btn btn-primary disabled" href="{% url 'send' items.id %}" style="padding:5px"><i
                                        class="far fa-arrow-alt-circle-up"></i>&nbsp; ส่งเครื่อง</a> {% else %}
                                    <a class="btn btn-primary" href="{% url 'send' items.id %}" style="padding:5px"><i
                                        class="far fa-arrow-alt-circle-up"></i>&nbsp; ส่งเครื่อง</a> {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text-center">เครื่องที่</th>
                            <th class="text-center">ห้อง</th>
                            <th class="text-center">อาการเครื่อง</th>
                            <th class="text-center">วันที่แจ้งซ่อม</th>
                            <th class="text-center">ผู้แจ้งซ่อม</th>
                            <th class="text-center">วันที่รับเรื่อง</th>
                            <th></th>

                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="margin:15px;">
</div>
<!-- <script>
    var autoLoad = setInterval(
        function() {
            var url = window.location.search;
            console.log("1");
            $('body').load('/admins').fadeIn("slow");
        }, 1000);
</script> !-->

{% endblock %}