{% extends 'layout.html' %}
{% block content %}
<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-center align-items-center">
        <h4 class="text-primary justify-content-center font-weight-bold m-0">ผังงานโสตทัศนูปกรณ์</h4>
    </div>
    <div class="card-body d-xl-flex justify-content-center align-items-center align-content-center justify-content-xl-center align-items-xl-center">
        <!-- Start: Swiper Slider Card For Blog Or Product -->
        <div class="blog-slider">
            <div class="blog-slider__wrp swiper-wrapper card-body-border">
                <!-- Start: 1st Slide -->
                <div class="blog-slider__item swiper-slide ">
                    <div></div>
                    <div class="blog-slider__img"><img style="background-image: url(&quot;/static/assets/img/Pjoth.jpg?h=95dec85e99ab71f27b852e6b1c698d8e&quot;);background-size: cover;"></div>
                    <div class="blog-slider__content">
                        <!-- Start: Date --><span class="blog-slider__code">หัวหน้างานโสตฯ</span>
                        <!-- End: Date -->
                        <!-- Start: Your Text --><div class="blog-slider__title">อาจารย์อัครรัศมิ์ พัฒนวินิจ</div>
                        <!-- End: Your Text -->
                        <!-- Start: Your Text --><div class="blog-slider__text">1.ดูแลระบบเครื่อข่ายภายในวิทยาลัย<br>2.ดูแลศูนย์ซ่อมคอมพิวเตอร์<br>3.ดูแลระบบเครื่องเสียงและหอประชุม</div>
                        <!-- End: Your Text -->
                        <!-- Start: Social Icon + hover effect -->
                        <div class="container text-center d-flex float-none justify-content-start align-items-start align-content-start justify-content-sm-center align-items-sm-center justify-content-xl-start align-items-xl-start"><a class="social-link" href="#" style="margin: 0px 5px;"><i class="fa fa-facebook social-link-icon"></i><div class="social-link-effect"></div></a><a class="social-link" href="#" style="margin: 0px 5px;"><i class="fab fa-line social-link-icon"></i><div class="social-link-effect" style="background-color: rgb(2,129,53);"></div></a></div>
                        <!-- End: Social Icon + hover effect -->
                    </div>
                </div>
                <!-- End: 1st Slide -->
                <!-- Start: 2nd Slide -->
                <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img"><img style="background-image: url(&quot;/static/assets/img/tip.jpg?h=b392b9faffb5a497ee8517b781ea3a8d&quot;);background-size: cover;"></div>
                    <div class="blog-slider__content">
                        <!-- Start: Date --><span class="blog-slider__code">รองหัวหน้างานโสตฯ</span>
                        <!-- End: Date -->
                        <!-- Start: Your Text --><div class="blog-slider__title">อาจารย์รังสรรค์ ทองดอนน้อย</div>
                        <!-- End: Your Text -->
                        <!-- Start: Your Text --><div class="blog-slider__text">1.ดูแลศูนย์ซ่อมคอมพิวเตอร์<br>2.ดูแลเครื่องคอมพิวเตอร์ห้องปฏิบัติการ 201-208</div>
                        <!-- End: Your Text -->
                        <!-- Start: Social Icon + hover effect -->
                        <div class="container text-center d-flex float-none justify-content-start align-items-start align-content-start justify-content-sm-center align-items-sm-center justify-content-xl-start align-items-xl-start"><a class="social-link" href="#" style="margin: 0px 5px;"><i class="fa fa-facebook social-link-icon"></i><div class="social-link-effect"></div></a><a class="social-link" href="#" style="margin: 0px 5px;"><i class="fab fa-line social-link-icon"></i><div class="social-link-effect"></div></a></div>
                        <!-- End: Social Icon + hover effect -->
                    </div>
                </div>
                <!-- End: 2nd Slide -->
                <!-- Start: 3rd Slide -->
                <div class="blog-slider__item swiper-slide">
                    <div></div>
                    <div class="blog-slider__img"><img src="/static/assets/img/toei.jpg?h=5aa6762cd65b5d2671b50037cf2bad81" style="background-image: url(&quot;/static/assets/img/toei.jpg?h=5aa6762cd65b5d2671b50037cf2bad81&quot;);background-size: cover;"></div>
                    <div class="blog-slider__content">
                        <!-- Start: Date --><span class="blog-slider__code">งานโสตทัศนูปกรณ์</span>
                        <!-- End: Date -->
                        <!-- Start: Your Text --><div class="blog-slider__title">อาจารย์ธนะชัย สุบินทร์</div>
                        <!-- End: Your Text -->
                        <!-- Start: Your Text --><div class="blog-slider__text">1.ดูแลเครื่องคอมพิวเตอร์ห้องพักอาจารย์<br>2.ดูแลเครื่องคอมพิวเตอร์ห้องปฏิบัติการห้อง 201-208</div>
                        <!-- End: Your Text -->
                        <!-- Start: Social Icon + hover effect -->
                        <div class="container text-center d-flex float-none justify-content-start align-items-start align-content-start justify-content-sm-center align-items-sm-center justify-content-xl-start align-items-xl-start">
                            <a class="social-link" href="#" style="margin: 0px 5px;"><i class="fa fa-facebook social-link-icon"></i><div class="social-link-effect"></div></a><a class="social-link" href="#" style="margin: 0px 5px;"><i class="fab fa-line social-link-icon"></i><div class="social-link-effect"></div></a></div>
                        <!-- End: Social Icon + hover effect -->
                    </div>
                </div>
                <!-- End: 3rd Slide -->
                <div class="blog-slider__pagination"></div>
            </div>
        </div>
        <!-- End: Swiper Slider Card For Blog Or Product -->
    </div>
</div>
{% endblock %}