{% extends 'layout.html' %} {% load crispy_forms_tags %} {% block content %} {{err}}
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-center text-primary m-0 font-weight-bold">แจ้งซ่อมเครื่องห้องปฏิบัติการ {{select}}</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                        <form action="/pcstudent/" method="POST">
                            {% csrf_token %}
                            <div class="row text-nowrap ">
                                <div style="margin: 0px 10px; display:flex">
                                    ห้องปฏิบัติการ&nbsp;&nbsp;&nbsp;{{form}}
                                </div>
                                <input type="submit" class="btn btn-secondary " style="margin-top:-5px;width: 60px;height:28px;padding:0px 0px;" value="เลือก">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            {% comment %} <th class="text-center">ลำดับที่</th> {% endcomment %}
                            <th class="text-center">เครื่องที่</th>
                            <th class="text-center">รูปเครื่อง</th>
                            <th class="text-center">สถานะ</th>
                            <th class="text-center">อาการเครื่อง</th>
                            <th class="text-center">วันที่แจ้งซ่อม</th>
                            <th class="text-center">วันที่รับเรื่อง</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for items in pcs %}
                        <tr>
                            {% comment %} <td class="text-center">{{items.id}}</td> {% endcomment %}
                            <td class="text-center">{{items.No_cmpt}}</td>
                            <td class="text-center"><img class="rounded mr-2" width="30" height="30" src="\static\assets\img\pc1.png" style="width: 35px;height: 35px;margin-right: 0px;margin-left: 0px;">
                            </td>
                            <td class="text-center">{{items.stat_cmpt}}</td>
                            <td class="text-center">{{items.detail_repair}}</td>
                            <td class="text-center">{{items.date_input}}</td>
                            <td class="text-center">{{items.date_output}}</td>
                            <td style="width: 140px;">
                                    <a class="btn btn-warning"href="{% url 'repair' items.id %}" style="background-color: rgb(241,16,30);"><i
                                        class="fas fa-tools"></i>&nbsp; แจ้งซ่อม</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            {% comment %} <td class="text-center"><strong><br>ลำดับที่<br><br></strong></td> {% endcomment %}
                            <td class="text-center"><strong><br>เครื่องที่<br><br></strong></td>
                            <td class="text-center"><strong><br>รูปเครื่อง<br><br></strong></td>
                            <td class="text-center"><strong><br>สถานะ<br><br></strong></td>
                            <td class="text-center"><strong><br>อาการเครื่อง<br><br></strong></td>
                            <td class="text-center"><strong><br>วันที่แจ้งซ่อม<br><br></strong></td>
                            <td class="text-center"><strong><br>วันที่รับเรื่อง<br><br></strong></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="padding:10px"></div>
<script src="/static/assets/js/modal.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}